{% extends 'films/base.html' %}
{% load films_tags %}

{% block breadcrumb %}
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'films:film_list' %}">{{ 'films:film'|model_verbose_name_plural }}</a>
      </li>
      <li class="breadcrumb-item active">{{ film.name }}</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-3">
      {% if film.cover %}
        <img src="{{ film.cover.url }}" alt="{{ film.name }}" class="img-thumbnail" />
      {% endif %}
      {% if user.is_superuser %}
      <div class="d-grid gap-2 my-4">
        <a href="{% url 'films:film_update' film.id %}" class="btn btn-primary btn-block">
          <i class="bi-pencil-square"></i>
          Редактировать
        </a>
        <a href="{% url 'films:film_delete' film.id %}" class="btn btn-danger btn-block">
          <i class="bi-trash"></i>
          Удалить
        </a>
        </div>
      {% endif %}


        {% if user.is_authenticated %}
          {% if edit_mode or show_rating_form %}
            <div class="mt-4 p-3 bg-light rounded">
              <h5>{{ edit_mode|yesno:"Изменить оценку,Ваша оценка фильму" }}</h5>
              <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="{{ rating_form.rating.id_for_label }}" class="form-label">Поставьте оценку от 1 до 10:</label>
                  <input
                      type="range"
                      id="{{ rating_form.rating.id_for_label }}"
                      name="{{ rating_form.rating.name }}"
                      min="1"
                      max="10"
                      value="{{ rating_form.rating.value|default:5 }}"
                      class="form-range"
                      oninput="ratingValue.innerText = this.value"
                  >
                    <span id="ratingValue" class="ms-2">{{ form.rating.value|default:5 }}</span>
                </div>
                <button type="submit" class="btn btn-success" name="action" value="save_rating">Сохранить оценку</button>
                {% if edit_mode %}
                  <a href="{% url 'films:film_detail' film.id %}" class="btn btn-secondary ms-2">Отмена</a>
                {% endif %}
              </form>
            </div>
          {% elif has_rating %}
            <div class="mt-4 p-3 bg-light rounded">
              <p>Ваша оценка: <strong>{{ rating }}</strong></p>
              <a href="{% url 'films:film_detail' film.id %}?edit=1" class="btn btn-outline-primary btn-block  mb-2">Изменить оценку</a>
              <form method="post" action="{% url 'films:film_detail' film.id %}" style="display:inline;">
                  {% csrf_token %}
                  <input type="hidden" name="action" value="delete_rating">
                  <button type="submit" class="btn btn-outline-danger btn-block">Удалить оценку</button>
              </form>
            </div>
          {% endif %}
        {% else %}
          <div class="mt-4 p-3 bg-light rounded">
            <p><a href="{% url 'login' %}" class="btn btn-outline-primary">Войдите, чтобы оценить фильм.</a></p>
          </div>
        {% endif %}
        {% if film.average_rating %}
          <div class="mt-2 p-2 bg-light rounded text-muted">
            Средняя оценка: <strong>{{ film.average_rating_10|floatformat:1 }}</strong>
          </div>
        {% endif %}
      {% if filter_form %}
        <div class="mt-3 p-3 bg-light rounded">
          <h5>Фильтр оценок</h5>
          <form method="get">
            {% csrf_token %}
            <div class="mb-3">
              <label for="{{ filter_form.coutry.id_for_label }}" class="form-label">Страна:</label>
              {{ filter_form.country }}
            </div>
            <div class="row">
              <div class="col">
                <label for="{{ filter_form.time_start.id_for_label }}" class="form-label">Дата с:</label>
                {{ filter_form.time_start }}
              </div>
              <div class="col">
                <label for="{{ filter_form.time_end.id_for_label }}" class="form-label">Дата по:</label>
                {{ filter_form.time_end }}
              </div>
            </div>
            <button type="submit" class="btn btn-secondary mt-2" name="action" value="filter_rating">Применить фильтр</button>
          </form>
        </div>
      {% endif %}

      {% if filtered_average_rating == 'Not found'%}
          <div class="mt-2 p-2 bg-light rounded text-muted">
            Оценок не найдено.
          </div>
      {% elif filtered_average_rating  %}
          <div class="mt-2 p-2 bg-light rounded text-muted">
            Средняя оценка: <strong>{{ filtered_average_rating|floatformat:1 }}</strong>
          </div>
      {% elif film.average_rating  %}
          <div class="mt-2 p-2 bg-light rounded text-muted">
            Средняя оценка: <strong>{{ film.average_rating_10|floatformat:1 }}</strong>
          </div>
      {% else %}
          <div class="mt-2 p-2 bg-light rounded text-muted">
            Оценок не найдено.
          </div>
      {% endif %}
      </div>


    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">{{ film.name }}</h1>
          {% if film.origin_name %}
            <h2 class="card-subtitle mb-2 text-body-secondary">{{ film.origin_name }}</h2>
          {% endif %}
          <dl class="row">
            {% if film.country %}
              <dt class="col-md-3 text-md-end">
                {% verbose_name film 'country' %}
              </dt>
              <dd class="col-md-9"><a href="{% url 'films:country_detail' film.country.id %}">{{ film.country.name }}</a></dd>
            {% endif %}

            {% if film.genres %}
              <dt class="col-md-3 text-md-end">
                {% verbose_name film 'genres' %}
              </dt>
              <dd class="col-md-9">
                {% for genre in film.genres.all %}
                  <a href="{% url 'films:genre_detail' genre.id %}">{{ genre.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
              </dd>
            {% endif %}
            {% if film.length %}
              <dt class="col-md-3 text-md-end">
                {% verbose_name film 'length' %}
              </dt>
              <dd class="col-md-9">
                {{ film.length }}
                {{ film.length|ru_plural:'минута,минуты,минут' }}
              </dd>
            {% endif %}

            {% if film.year %}
              <dt class="col-md-3 text-md-end">
                {% verbose_name film 'year' %}
              </dt>
              <dd class="col-md-9">{{ film.year }}</dd>
            {% endif %}

            {% if film.description %}
              <dt class="col-md-3 text-md-end">
                {% verbose_name film 'description' %}
              </dt>
              <dd class="col-md-9">{{ film.description }}</dd>
            {% endif %}
            {% if film.director %}
              <dt class="col-md-3 text-md-end">
                {% verbose_name film 'director' %}
              </dt>
              <dd class="col-md-9"><a href="{% url 'films:person_detail' film.director.id %}">{{ film.director.name }}</a></dd>
            {% endif %}
            {% if film.people %}
              <dt class="col-md-3 text-md-end">
                {% verbose_name film 'people' %}
              </dt>
              <dd class="col-md-9">
                {% for person in film.people.all %}
                  <a href="{% url 'films:person_detail' person.id %}">{{ person.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
              </dd>
            {% endif %}
          </dl>
          {% if film.trailer_url %}
            <div class="ratio ratio-16x9">
              <iframe src="{{ film.trailer_url }}" title="YouTube video" allowfullscreen></iframe>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
