{% load django_bootstrap5 %}

<form method="get" class="mb-4">
  {% csrf_token %}
  <div class="row g-3 align-items-end bg-light rounded text-muted p-3 mt-3">
    <div class="col-md-3">
      {% bootstrap_field filter_form.query layout='floating' show_label=True %}
    </div>
    <div class="col-md-3">
      {% bootstrap_field filter_form.order_by layout='floating' show_label=True %}
    </div>

  <div class="col-md-3">
    {% bootstrap_field filter_form.country layout='floating' show_label=True %}
  </div>
  <div class="col-md-3">
    {% bootstrap_field filter_form.genres layout='floating' show_label=True %}
  </div>
  <div class="col-md-2">
    {% bootstrap_field filter_form.rating_start layout='floating' show_label=True %}
  </div>
  <div class="col-md-2">
    {% bootstrap_field filter_form.rating_end layout='floating' show_label=True %}
  </div>
</div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary w-100">
        <i class="bi bi-search me-1"></i> Найти
      </button>
    </div>

</form>