{% load django_bootstrap5 %}

<form method="get" class="mb-4">
  {% csrf_token %}
  <div class="row g-3 align-items-end bg-light rounded text-muted p-3 mt-3">
    <div class="col-md-3">
      Название: {{ filter_form.query }}
    </div>
    <div class="col-md-3">
      Сортировать по: {{ filter_form.order_by }}
    </div>
  </div>
  <div class="row g-3 align-items-end bg-light rounded text-muted p-3 ">
    <div class="col-md-3">
      Страна: {{ filter_form.country }}
    </div>
    <div class="col-md-3">
      Жанр: {{ filter_form.genres }}
    </div>
    <div class="col-md-2">
      Рейтинг с: {{ filter_form.rating_start }}
    </div>
    <div class="col-md-2">
      Рейтинг по: {{ filter_form.rating_end }}
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary w-100">
        <i class="bi bi-search me-1"></i> Найти
      </button>
    </div>
  </div>
</form>