{% load django_bootstrap5 %}
<form method="get">
  <div class="input-group mb-3">
    <input type="search" name="query" class="form-control" placeholder="Название фильма" value="{{query}}"/>
    <select name="order_by" class="form-control" value="{{order_by}}">
        <option value="name" {% if order_by == "name" %}selected{% endif %}>По названию (А-Я)</option>
        <option value="-name" {% if order_by == "-name" %}selected{% endif %}>По названию (Я-А)</option>
        <option value="average_rating" {% if order_by == "average_rating" %}selected{% endif %}>По рейтингу (возрастание)</option>
        <option value="-average_rating" {% if order_by == "-average_rating" %}selected{% endif %}>По рейтингу (убывание)</option>
    </select>
    <button type="submit" class="btn btn-primary">
        <i class="bi-search"></i>
    </button>
  </div>
</form>
